@layer reset, base, tokens, recipes, utilities;

:root {
	--666ca3: #666ca3;
	--13183f: #13183f;
	--83869a: #83869a;
	--f74780: #f74780;
	--ffa7c3: #ffa7c3;
	--ffffff: #fff;

	--font-family: "Plus Jakarta Sans", sans-serif;
}